.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: orange;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
  display: flex;
  align-items: center; /* 将子元素垂直居中 */
  justify-content: center; /* 将子元素水平居中 */
  background: orange;
  height: 60px;
}

.story {
  margin-bottom: 20px;
}

.author {
  font-size: 16px;
  font-weight: bold;
}

.comments {
  color: gray;
  margin-top: 5px;
}

.read-more {
  color: blue;
  text-decoration: underline;
}